<div class="row">
    <div class="col-lg-4">
        <nb-card>
          <nb-card-header>Pie</nb-card-header>
          <nb-card-body>
            <ngx-echarts-pi></ngx-echarts-pi>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-8">
          <nb-card>
            <nb-card-header>Line</nb-card-header>
            <nb-card-body>
              <ngx-echarts-lin></ngx-echarts-lin>
            </nb-card-body>
          </nb-card>
        </div>
<div>
  <ngx-smart-table1></ngx-smart-table1>
</div>
   